<nav>
    <div class="mainNav d-flex align-items-center justify-content-between container-fluid">
        <div class="col-3">
            <img class="mainLogo" src="assets/mainLogo.png" alt="website logo">
        </div>

        <div class="col-6 d-flex justify-content-center px-0">
            <div class="menu">
                <a> <img src="assets/home.png" alt=""> Home</a>
                <a><img src="assets/bag.png" alt="">Jobs</a>
                <a><img src="assets/person.png" alt="">Find Tradies</a>
                <a><img src="assets/persons.png" alt="">Communities</a>
                <a><img src="assets/bell.png" alt="">Notifications</a>
            </div>
        </div>

        <div class="col-3 sideMenu d-flex align-items-center justify-content-end">
            <button class="primaryBtn">Post a Job</button>
            <span><img src="assets/chat.png" alt=""></span>
            <span><img src="assets/profile.png" alt=""></span>
        </div>


       

       
    </div>
</nav>  